<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thursday</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Subject Management Sys🏫</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/blog}">Monday<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/tue}">Tuesday<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/wed}">Wednesday<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link" th:href="@{/thu}">Thursday<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/fri}">Friday<span class="sr-only">(current)</span></a>
                </li>

            </ul>

        </div>
    </nav>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Subject</th>
            <th scope="col">Time</th>
            <th scope="col">Links</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="t: ${thu}">
            <td th:text="${t.id}"></td>
            <td th:text="${t.title}"></td>
            <td th:text="${t.content}"></td>
            <td>
                <a th:href="${t.link}" class="btn btn-outline-primary">
                    Zoom
                </a>
            </td>
            <td>
                <a th:href="${t.clink}" class="btn btn-outline-success">
                    Classroom
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Playlist for today</h1>
            <p class="lead">This is a playlist for Thursday.</p>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5SKHKbIxgmywDVxj0yNZHu?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
</div>

</body>
</html>